/* Global Rules */

.caps {
    text-transform: uppercase;
}

.center {
    margin-top: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.wraping {
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 50px;
}

/* Header */
header .welcome-message {
    padding: 30px 10px;

}

header .welcome-message h1 {
    font-size: 3.5rem;
    text-decoration: underline;
}

header .welcome-message p {
    margin-top: 20px;
    font-size: 1.3rem;
}

.inputs-container {
    padding: 30px 0;
}

.inputs-container input {
    width: 23%;
    padding: 5px 5px;
}

.inputs-container .add-btn {
    border: none;
    padding: 10px 10px;
}

.logo {
    width: 15px;
}

.new-invest {
    margin: 10px;
}

.new-invest-container {
    text-align: center;
}

.table-history {
    margin-top: 20px;
}

tfoot td {
    font-weight: bold;
}

.amount {
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .inputs-container {
        padding: 0;
        margin: 0 10px;

    }

    .inputs-container input {
        width: 49%;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;

    }

    .inputs-container button {
        display: block;
        margin: 0 44%;

    }

    .wraping {
        margin: 0;
        display: block;
        text-align: center;
        padding: 20px;
        margin-top: 50px;
    }

    .amount {
        margin: 20px 0;
        width: 100%;
    }


    .srollable {
        overflow-x: scroll;
        white-space: nowrap;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}